<%- include('partials/header') %> 
      <% posts.forEach(post => { %>
        <div class="posting">
          <h3><%= post.title %></h3>
          <p><%= post.description %></p>
          <p><a href="/posts/<%= post._id %>/update">Update Post</a></p>
        </div>
      <% }) %>
<%- include('partials/footer') %>

