<%- include('partials/header') %> 
      <!-- <% posts.forEach(post => { %> -->
        <!-- <div class="container">
          <div class="post">
            <img src="<%= post.thumbNail %>" alt="thumbnail image">
            <p><%= post.title %></p>
            <footer><%= post.description %></footer>
        </div>
      <% }) %>
      <br><br><br><br><br><br><br> -->

      <% posts.forEach(post => { %>

      <div class="circle" >
        <div class="circle__inner" >
          <div class="circle__wrapper" >
            <div class="circle__content" style="background-image: url('<%= post.thumbNail %>');">
              <%= post.user.name %>
              <br>
              <%= post.title %>
              <br>
              <%= post.description %>
              <% if (post.user.equals(user && user._id)) { %>
                <p>I MADE THIS!</p>
                <p><a href="/posts/<%= post._id %>/update">Update Post</a></p>
              <% } %> 
            </div>
          </div>
        </div>
        
        
      </div>
      <div class="comments-accordian"> <button class="accordian-trigger">See Comments</button>
        <div class="comment-container">
          <h4 class="commnet-header"> comment header </button>  </h4>
          <p class="comment-text"> text here</p>

        </div>
        <form action="/" method="post">
          Subject<textarea name="description" cols="15" rows="1">Subject Here</textarea> <br>
          <textarea name="description" cols="30" rows="2">comments here</textarea>
          <input type="submit" value="Add Post">
        </form>
      </div>
      <% }) %>

<%- include('partials/footer') %>

